[submodule "third_party/ELFIO"]
	path = third_party/ELFIO
	url = https://github.com/serge1/ELFIO
[submodule "third_party/loguru"]
	path = third_party/loguru
	url = https://github.com/emilk/loguru.git
